

body {
  display: flex; /* En lugar de grid */
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Asegura que ocupe toda la pantalla */
  background: #171717;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0; /* Evita espacios extra en el navegador */
}

